@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --cor-primaria: #343a40;
    --cor-secundaria: #6c757d;
    --cor-fundo: rgba(54, 217, 117, 1);
    --cor-texto-primario: rgba(92,59, 72, 1);
    --cor-texto-secundario: white;
    --espacamento-secao: 1rem auto;
    --sombra-leve: 0 2px 4px rgba(0,0,0,.1); 
}

*{
    color: var(--cor-texto-primario);
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    margin: 0; 
    padding: 0;
}
  
html {
    font-size: 16px;  /* Base para o rem */
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between; /*alinha eixo y vertical*/
    align-items: center; /*alinha eixo x horizontal*/
    transition: 0.5s;
    background-color: var(--cor-fundo);
    min-height: 100vh;
    background-image: linear-gradient(to top, var(--cor-fundo) 0%, #198852 99%, #e3eeff 100%);
}
 
header { 
    display: flex;
    justify-content: space-between; /* Coloca o máximo de espaço entre os itens */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /*centraliza horizontalmente*/
    padding: 20px;
    background-color: #333;
    color: var(--cor-texto-secundario);
    width: 100%;
} 
header h1 { 
    color: var(--cor-texto-secundario); 
} 
nav ul { 
    list-style: none; 
    display: flex; 
    justify-content: center;
    height: 40px;
    align-items: center; 
} 
nav ul li { 
    margin: 0 15px; 
} 
nav ul li a { 
    font-size: 1rem;
    color: var(--cor-texto-secundario); 
    text-decoration: none; 
    font-weight: bold; 
    transition: color 0.3s ease, text-decoration 0.3s ease; 
} 
nav ul li a:hover { 
    color: var(--cor-primaria); /* Mude a cor ao passar o mouse */ 
    text-decoration: underline;  
} 

#habilidades ul{
    margin-left: 1em;
}
.material-symbols-outlined {
    font-size: 2rem;
    color: #333;
    vertical-align: middle;
    margin-left: 8px;
    font-variation-settings:
    'wght' 400;
}
img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
main section, #sobre_mim { 
    padding: 2rem; 
    margin:  var(--espacamento-secao);
    background-color: var(--cor-texto-secundario); 
    border-radius: 8px; 
    box-shadow: var(--sombra-leve);
    width: calc(100vw - 4rem); /* Largura total menos o padding horizontal */
    min-width: 300px;
    max-width: 800px; 
} 
main section h2 { 
    color: var(--cor-primaria); 
    margin-bottom: 1rem; 
}
#sobre_mim{
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/banner/banner.png");
    background-size: cover;
    background-position: center;
}
#sobre_mim h1{
    margin-bottom: 10px;
    color: var(--cor-texto-secundario) !important;
}

/* visualização inicial para mobile */
#sobre_mim .conteinerProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sobre_mim img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
    border: 3px solid var(--cor-texto-secundario);
}
#sobre_mim p{
    font-weight: 400;
    text-align: justify;
    color: var(--cor-texto-secundario) !important;
}

.projetos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espaço entre os cards */
}
.projeto-card {    
    flex: 1 1 100%; /* Atalho: cresce, encolhe e tem base de 100% */
    max-width: 300px; /* Limita a largura máxima do card */
    /* Outros estilos para o card, como borda, sombra, etc. */
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    padding: 1.5rem; 
    margin-bottom: 1.5rem; 
    background-color: var(--cor-texto-secundario); 
    box-shadow: var(--sombra-leve); 
    transition: transform 0.3s ease;
}
.projeto-card:hover { 
    transform: translateY(-5px); /* Efeito de "levantar" ao passar o mouse */ 
} 
.projeto-card img { 
    width: auto; 
    height: 50px; 
    border-radius: 4px; 
    margin: 0.5rem;
 } 
.projeto-card h3 { 
    color: var(--cor-primaria); 
    margin-top: 0; 
} 
.projeto-card a { 
    display: inline-block; 
    background-color: var(--cor-primaria); 
    color: var(--cor-texto-secundario); 
    padding: 0.5rem 1rem; 
    border-radius: 5px;
    text-decoration: none; 
    margin-right: 10px; 
    margin-top: 10px;
    transition: background-color 0.3s ease;
} 
.projeto-card a:hover { 
    background-color: #0056b3; 
} 

#saudacaoBtn{
    background-color: #343a40;
    color: var(--cor-texto-secundario);
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px 0;
}

#contato form label { 
    display: block; 
    margin-bottom: 0.5rem; 
    font-weight: bold; 
}
#contato form input[type="text"], #contato form input[type="email"], #contato form textarea {
    width: calc(100% - 20px); /* Ajusta a largura considerando o padding */ 
    padding: 10px; 
    margin-bottom: 1rem; 
    border: 1px solid #ced4da; 
    border-radius: 4px; 
} 
#contato form button { 
    background-color: var(--cor-primaria); 
    color: white; 
    padding: 0.75rem 1.5rem; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 1rem; 
    transition: background-color 0.3s ease; 
} 
#contato form button:hover, #saudacaoBtn:hover { 
    background-color: #0056b3; 
}

/* estilos para menu mobile */
#menu-mobile {
    display: block; /* Mostra o botão em telas pequenas */
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--cor-texto-secundario);
    margin: 1rem;
}
nav {
    display: none; /* Esconde o menu por padrão */
}
nav.ativo { /* Classe que será adicionada via JS */
    display: flex;
}
/* ------------- */

footer { 
    text-align: center; 
    padding: 1rem 0; 
    background-color: #343a40; 
    color: var(--cor-texto-secundario); 
    position: relative; 
    bottom: 0; 
    width: 100%; 
}
footer h5{
    color: var(--cor-texto-secundario);
}

/* Estilos para telas maiores */
@media screen and (min-width: 768px) {
    #menu-mobile {
        display: none; /* Esconde o botão em telas grandes */
    }
    nav {
        display: flex; /* Mostra o menu */
    }
    #sobre_mim .conteinerProfile{
        flex-direction: row;
        align-items: center;
        gap: 20px; /* Espaço entre a imagem e o texto */
    }
}


