body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: rgba(54, 217, 117, 1);
    color: #eee;
    margin: 0;
    padding: 20px;
}
 
#game-container {
    border: 5px solid #555;
    background-color: #333;
    padding: 10px;
    text-align: center;
}
 
canvas {
    background-color: #000;
    display: block;
    margin: 0 auto;
}
 
.game-info {
    margin-top: 10px;
}
 
button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
.game-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1.5em;
    z-index: 100; /* Garante que fique por cima do canvas */
}
 
.game-screen h2 {
    font-size: 3em;
    margin-bottom: 20px;
}
 
.game-screen button {
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #007bff;
    border-radius: 8px;
}

